* {
  font-family: 'EB Garamond', serif;
  color: #000;
  font-weight: 100; }

a {
  color: #273F49; }
  a:hover {
    color: red; }

body {
  background: #EFF0E2; }

i {
  font-style: italic;
  font-family: 'EB Garamond', serif; }

h1, h2, h3, h4, h5 {
  font-family: 'EB Garamond', serif;
  font-weight: 100; }

h1 {
  font-size: 118px;
  font-size: 7.375rem;
  letter-spacing: -1.5px;
  letter-spacing: -0.09375rem; }

h2 {
  font-size: 83px;
  font-size: 5.1875rem;
  letter-spacing: -2.5px;
  letter-spacing: -0.15625rem; }

h3 {
  font-size: 59px;
  font-size: 3.6875rem; }

h4 {
  font-size: 30px;
  font-size: 1.875rem; }

h5 {
  font-size: 15px;
  font-size: 0.9375rem; }

p, ul, ol, li {
  font-size: 20px;
  font-size: 1.25rem;
  font-family: 'EB Garamond', serif; }

.header {
  padding-top: 40px;
  padding-top: 2.5rem; }

nav {
  width: 100%;
  border-bottom: 4px solid #ABA689; }
  nav a {
    color: #ABA689; }
  nav h4, nav i {
    color: #ABA689;
    text-align: center; }

.hero {
  padding-top: 200px;
  padding-top: 12.5rem;
  text-align: center; }
  .hero .copy {
    padding-bottom: 180px;
    padding-bottom: 11.25rem; }

.content .title {
  margin-top: 160px;
  margin-top: 10rem;
  margin-bottom: 80px;
  margin-bottom: 5rem; }

.article {
  padding-top: 160px;
  padding-top: 10rem;
  padding-bottom: 160px;
  padding-bottom: 10rem;
  border-bottom: 1px solid #ABA689; }
  .article .title {
    padding-bottom: 280px;
    padding-bottom: 17.5rem; }

.works {
  margin-top: 160px;
  margin-top: 10rem; }
  .works .work {
    background: black; }
    .works .work h1, .works .work h5 {
      color: #fff;
      font-style: italic; }
    .works .work .title {
      padding-top: 80px;
      padding-top: 5rem;
      padding-bottom: 80px;
      padding-bottom: 5rem; }
  .works .reachout {
    background-image: url("img/background-reachout-lg.jpg");
    background-size: cover; }
  .works .medcil {
    background-image: url("img/background-medcil-lg.jpg");
    background-size: cover; }
  .works .zemedy {
    background-image: url("img/background-zemedy-lg.jpg");
    background-size: cover; }

.view-article .header {
  border-bottom: #72736C 4px solid; }

.view-article .title {
  background-color: #8F9087;
  padding-bottom: 160px;
  padding-bottom: 10rem; }
  .view-article .title h1 {
    color: #EFF0E2;
    font-style: italic; }

.view-article .content {
  padding-top: 160px;
  padding-top: 10rem; }

.view-article .copy {
  padding-top: 160px;
  padding-top: 10rem; }
  .view-article .copy p {
    font-size: 30px;
    font-size: 1.875rem; }
  .view-article .copy span {
    font-size: 118px;
    line-height: 0; }

.view-article .section {
  margin-bottom: 80px;
  margin-bottom: 5rem; }
