@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: Roboto;
  font-size: 14px;
}

.header {
  font-size: 2rem;
  height: 80px;
  padding: 0 80px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  align-items: center;
  color: #171999;
}
.header .logo {
  grid-column: 1/9;
}
.header .social {
  grid-column: 9/17;
  text-align: right;
  grid-template-columns: repeat(16, 1fr);
}

.hero span.one {
  text-decoration: line-through;
}

section {
  padding-top: 160px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  height: 100vh;
  grid-gap: 0px;
}
section .title {
  font-size: 5.7142857143rem;
  padding: 0 5.7142857143rem;
  grid-column: 1/17;
  grid-row: 2/16;
  color: #171999;
  line-height: 101px;
}

.current {
  background: #5C5ECC;
}
.current .title {
  color: #9ED7FF;
}

.work {
  background: #FFDCCC;
}
.work .title {
  color: #CC6E5C;
}
