.header
  .logo I am Ramil
  .social <a href='http://instagram.com/ramilderogongun'>I share stories on Instagram</a>
section.hero
  .title
    h1 My <span class="one"> long term </span> <span class="two">lifetime</span> goal is to solve problems that could save humanity thru art and design.



section.current
  .title
    h1 Currently I’m helping underserved patient at BoldHealth by creating experience for digital therapeutics.

section.work
  .title
    h1 I do freelance works, maybe I could help you UI, 3D Objects and branding designs. Tell me your story at ramil.designs@gmail.com
    